:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  width: 100%;
  color: white;
  background-image: url("../assets/background-210125-235634.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;

  height: 100vh;
  overflow: hidden;
}

.Container {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100%;
  max-width: 1024px;

  margin: 0 auto;
}

header {
  text-align: center;
  background-color: rgba(49, 49, 49, 0.5);
  padding: 20px 0;
}

.header-btn-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.header-btn-container button {
  padding: 10px 30px;
  margin-right: 5px;

  background-color: var(--smokywhite);
  border: none;
  border-radius: 10px;
}

.header-btn-container button:hover {
  background-color: wheat;
}

.header-btn-container button:focus {
  background-color: wheat;
}

main {
  height: 100%;
  background-color: var(--document-bg-color);

  overflow-y: scroll;
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}

footer {
  background-color: var(--shadow-color);
}

/* -- Dialog -- */
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: var(--document-bg-color);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: var(--bg-accent-color);
  background: var(--component-bg-gradient);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px var(--shadow-color);
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.close {
  align-self: flex-end;
  padding: 0.2rem;
  color: var(--accent-color);
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
  transition: color 250ms ease;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  color: var(--shadow-color);
  text-decoration: none;
  cursor: pointer;
}

.dialog__submit {
  align-self: flex-end;
  padding: 0.5em 1.5em;
}

/* -- PAGE ITEM -- */
.page-item {
  margin: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 6px var(--shadow-color);
  background: var(--bg-accent-color);
  background: var(--component-bg-gradient);
}

.page-item__controls {
  padding-right: 0.5em;
}

.page-item__title {
  color: var(--text-accent-color);
}

.page-item__body {
  width: 100%;
}

/* -- Image & Video -- */
.video,
.image {
  display: flex;
  width: 100%;
  height: 250px;
}

.video__player,
.image__holder {
  flex: 60% 1 1;
}

.video__title,
.image__title {
  flex: 40% 1 1;
  margin-left: 0.5em;
}

.video__iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.image__thumbnail {
  width: 100%;
  height: 100%;
}

/* -- Note -- */
.note {
  padding: 0.5em;
}
/* -- TODO -- */
.todo {
  padding: 0.5em;
}

.todo__list,
.todo-label {
  padding: 1em;
  color: var(--smokywhite);
}

/* ---- Drag and Drop ---- */

.mute-children * {
  pointer-events: none;
}

.lifted {
  animation: drag_start 250ms;
  opacity: 0.2;
}

@keyframes drag_start {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.drop-area {
  border: 2px solid var(--accent-color);
}
